<!-- <p>homeu works!</p> -->

<!-- <ul class="nav">
      <li><a routerLink="/home" >Home</a></li> --> 
    <!-- <li><a routerLink="/tasklist" >List</a></li> -->
     <!-- <li><a routerLink="/update" >Update</a></li>  -->
     <!-- <li><a  >About Us</a></li>
    <li><a >Contact Us</a></li>
    <li><a (click)="logout()">Log Out</a></li>
</ul>   --> 




<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Messages</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </div>
</nav>