<!-- <div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{ quote }}</q>
  </div>
</div> -->
<!-- <app-loader [isLoading]="isLoading"></app-loader> -->

<!-- <h1>home</h1>  -->


<app-loader [isLoading]="isLoading"></app-loader>

<!-- <ul class="nav">
 <li><a routerLink="/home" >Home</a></li> -->
<!-- <li><a routerLink="/addproject" >Add Project</a></li> -->
<!-- <li><a routerLink="/list"  >List</a></li> -->
<!-- <li><a routerLink="/update" >Update</a></li>  -->
<!-- <li><a routerLink="/about" >About Us</a></li> -->
<!-- <li><a routerLink="/contact" >Contact Us</a></li> -->
<!-- <li><a (click)="logout()">Log Out</a></li> -->
<!-- </ul>  -->

<h1>Home</h1>