<!-- <p>tasklist works!</p> -->


<table class="tablecolor" >

    <thead class="thead" >  
       <tr>  
         <th>ID</th>  
         <th>TaskName</th>  
         <th>Description</th>  
         <th>project_name</th>
         <th>status type</th> 

         <!-- <th>Actual budget</th> -->
 
        <!-- <th colspan="2">Actions</th> -->
   </thead >     
    <tbody> 
        
      <tr *ngFor="let task of tasklists"> 
         
       <td>{{ task.id }}</td> 
       <td>{{ task.task_name }}</td> 
       <td>{{ task.description }}</td> 
       <td>{{ task.project_name }}</td> 
       <td>{{ task.status_type }}</td> 
       
       
       <!-- <td><button id="button1">View</button></td>
        <td><button>Edit</button></td>   --> 

        <!-- <td><button id="button2" (click)="delete(v.id)" >Delete</button></td>  -->
         
       </tr>   
      </tbody> 
</table> 
 <!-- [rowData]="rowData" 
    [columnDefs]="columnDefs"  -->


    <!-- <div>
      <ag-grid-angular 
        style="height: 200px;" 
        class="ag-theme-balham"
        [rowData]="rowData" 
    [columnDefs]="columnDefs" 

        >
     
    
</ag-grid-angular>
</div> -->