<!-- <p>tasklist works!</p> -->
<!-- header -->


<ul class="nav">
  <!-- <li><a routerLink="/home" >Home</a></li> -->
  <li><a routerLink="/addproject" >Add Project</a></li>
  <li><a routerLink="/tasklist"  >List</a></li>
   <!-- <li><a routerLink="/update" >Update</a></li>  -->
   <li><a routerLink="/about" >About Us</a></li>
  <li><a routerLink="/contact" >Contact Us</a></li>
  <li><a (click)="logout()">Log Out</a></li>
</ul> 








<table class="tablecolor" >

    <thead class="thead" >  
       <tr>  
         <th>ID</th>  
         <th>TaskName</th>  
         <th>Description</th>  
         <th>project_name</th>
         <th>status type</th> 
         <th colspan="2">Actions</th>
         <!-- <th>Actual budget</th> -->
 
        
   </thead >     
    <tbody> 
        
      <tr *ngFor="let task of tasklists"> 
         
       <td>{{ task.id }}</td> 
       <td>{{ task.task_name }}</td> 
       <td>{{ task.description }}</td> 
       <td>{{ task.project_name }}</td> 
       <td>{{ task.status_type }}</td> 
       
       <td><button id="button1"><a routerLink="/updatetask/{{task.id}}" >Edit</a></button></td>
       
       
       <!-- <td><button id="button1">View</button></td>
        <td><button>Edit</button></td>   --> 

        <!-- <td><button id="button2" (click)="delete(v.id)" >Delete</button></td>  -->
         
       </tr>   
      </tbody> 
</table> 
 <!-- [rowData]="rowData" 
    [columnDefs]="columnDefs"  -->


    <!-- <div>
      <ag-grid-angular 
        style="height: 200px;" 
        class="ag-theme-balham"
        [rowData]="rowData" 
    [columnDefs]="columnDefs" 

        >
     
    
</ag-grid-angular>
</div> -->